.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.no_directions{
    font-family: 'M PLUS 1p', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #96A4AE;
    margin-top: 40px;
}
.wrapper{

}
.direction_name{
    font-family: 'M PLUS 1p', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'ss02' on, 'ss09' on;
    color: #96A4AE;
    margin-bottom: 16px;
}
.direction_types_label{
    font-family: 'M PLUS 1p', sans-serif;
    margin-top: 24px;
    margin-bottom: 24px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'ss02' on, 'ss09' on;
    color: #96A4AE;
}
.direction_types{

}
.type_wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.bulk_type{
    font-family: 'M PLUS 1p', sans-serif;
    margin-left: 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    font-feature-settings: 'ss02' on, 'ss09' on;
    color: #FC3B2D;
    cursor: pointer;
    transition: .3s;
}
.bulk_type:hover{
    opacity: .8;
}
.select_wrapper{
    position: relative;
    width: 338px;
    margin-top: 10px;
}
.sel_row{
    display: grid;
    grid-template-columns: 3.5fr 1fr;
    max-height: 40px;
    max-width: 338px;
    grid-column-gap: 15px;
}
.sel_row input{
    width: 100% !important;
}