.btn{
    font-family: 'Rubik', sans-serif;
    display: block;
    padding: 9.5px 17px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 4px;
    transition: .3s;
}
.btn:hover{
    opacity: .8;
}
.btn.red{
    background: #FC3B2D;
}
.btn.dark{
    background: #0E2F56;
}
.btn.green{
    padding: 8px 66.5px;
    background: #38A466;
    border-radius: 4px;
}