.wrapper{
    display: flex;
    align-items: center;
}
.bulk{
    font-family: 'M PLUS 1p', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    font-feature-settings: 'ss02' on, 'ss09' on;
    color: #FC3B2D;
    margin-left: 15px;
    cursor: pointer;
}