.wrapper{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px 60px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.info{
    display: flex;
    flex-direction: column;
}
.id{
    font-family: 'M PLUS 1p', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    text-align: left;
    color: #96A4AE;
}
.username{
    font-family: 'M PLUS 1p', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    color: #0E2F56;
    margin-top: 6px;
}
.actions{
    display: flex;
    align-items: center;
}
.action{
    display: flex;
    align-items: center;
    font-family: 'M PLUS 1p', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #0E2F56;
    margin-left: 40px;
    transition: .3s;
}
.action:hover{
    opacity: .8;
}
.headline{
    font-family: 'M PLUS 1p', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 22px;
    font-feature-settings: 'ss02' on, 'ss09' on;
    color: #0E2F56;
}
.places{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    grid-gap: 25px;
    margin-top: 24px;
}
.info__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 47px;
}
.info__id{
    font-family: 'M PLUS 1p', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #96A4AE;
}
.disabled{
    display: flex;
    align-items: center;
}
.disabled .text{
    font-family: 'M PLUS 1p', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #38A466;
    margin-left: 12px;
}
.info__grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
    margin-top: 32px;
    margin-right: 100px;
}
.info__label{
    font-family: 'M PLUS 1p', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'ss02' on, 'ss09' on;
    color: #96A4AE;
    margin-bottom: 16px;
}
.info__grid input{
    margin-bottom: 16px;
}
.row{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.row svg{
    display: block;
    margin-left: -24px;
    margin-right: 4px;
}
.row input{
    margin-bottom: 0;
}
.photoes_desc{
    margin-top: 12px;
    font-family: 'M PLUS 1p', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #031523;
    max-width: 354px;
}
.images_grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, 186px);
    grid-column-gap: 16px;
    grid-row-gap: 28px;
    margin-top: 24px;
    padding-bottom: 40px;
}
.image_card{
    width: 100%;
    /* overflow: hidden; */
    border-radius: 5px;
}
.image_card img{
    width: 100%;
    height: 286px;
    display: block;
    overflow: hidden;
    object-fit: cover;
    border-radius: 5px;
}
.image_card .lbl{
    margin-bottom: 8px;
    font-family: 'M PLUS 1p', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #96A4AE;
}
.image_card .bulk{
    font-family: 'M PLUS 1p', sans-serif;
    margin-top: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    font-feature-settings: 'ss02' on, 'ss09' on;
    color: #FC3B2D;
    transition: .3s;
    cursor: pointer;
}
.image_card .bulk:hover{
    opacity: .8;
}
.no_reeviews{
    font-family: 'M PLUS 1p', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #96A4AE;
}
.select{
    font-family: 'M PLUS 1p', sans-serif;
    border: 1px solid #96A4AE;
    box-sizing: border-box;
    border-radius: 5px;
    width: 338px;
    height: 40px;
    padding-left: 24px;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    padding-right: 24px;
    color: #031523;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    background: url(../../images/select.svg) no-repeat right 24px center;
    cursor: pointer;
}
.select:focus, .select:active{
    outline: none;
    /* border: none; */
}
.bulk_place{
    font-family: 'M PLUS 1p', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    font-feature-settings: 'ss02' on, 'ss09' on;
    color: #FC3B2D;
    transition: .3s;
    margin-bottom: 40px;
    margin-top: 20px;
}
.bulk_place:hover{
    color: #FC3B2D;
    opacity: .8;
}
.time_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    margin-bottom: 10px;
    max-width: 338px;
}