.background{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    width: 100vw;
    height: 100vh;
    transition: .3s;
    z-index: -1;
}
.background.active{
    background: rgba(0, 0, 0, 0.3);
    z-index: 10;
}
.modal{
    padding: 23px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #BBBFDB;
    box-sizing: border-box;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .3s;
    z-index: -1;
}
.modal.show{
    animation: show_modal;
    animation-duration: .3s;
    opacity: 1;
    z-index: 11;
}
.modal.hidden{
    opacity: 0;
}