.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
}
.title{
    font-family: 'M PLUS 1p', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #2E384D;
}