.wrapper{
    padding: 8px 16px;
    background: #0E2F56;
    border-radius: 5px;
    display: flex;
    width: fit-content;
    align-items: center;
}
.delete{
    padding: 0;
    display: flex;
    align-items: center;
}
.select{
    display: flex;
    font-family: 'M PLUS 1p', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF; 
    background: transparent;
    outline: none;
    border: none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    width: fit-content;
    cursor: pointer;
    margin-right: 10px;
}
.select option{
    color: #000000; 
}